 <div class="card-group">
  <div class="card">
    <img src="/assets/img1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">camera </h5>
      <p class="card-text">A camera obscura is a dark room with a small hole on one side, projecting an image onto the opposite wall.   man  someone would trace the image onto the wall to capture the image.</p>
     </div>
  </div>
  <div class="card">
    <img src="/assets/img2.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">camera </h5>
      <p class="card-text">Photography as we know it came into being when French inventor Joseph Nicephore Niepce took the first permanent photograph.</p>
     </div>
  </div>
  <div class="card">
    <img src="/assets/img1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">camera </h5>
      <p class="card-text">Today, you don’t need silver plates and heavy equipment to take photographs — anyone can become a photographer using their smartphone, a film camera, or a single-lens digital camera (also known as a DSLR).</p>
     </div>
  </div>
</div>

