<app-header></app-header>

<br />
<br />
<br />
<br />
<app-products></app-products>
<br />
<br />
<br />
 <app-parent></app-parent>
<br>
<br>
<app-list-employee></app-list-employee>
<br>
<br>
<button (click)="getproducts()">show product</button>
<div *ngIf="isclicked; then hideTable;else showmessage" class="container">
  </div>
  <ng-template #hideTable>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let group of  productlist" >
        <td>{{ group.Id }}</td>
        <td>{{ group.Name }}</td>
        <td>{{ group.Price }}</td>
        <td>{{ group.Quantity }}</td>
        <td><img [src]="group.imageUrl" style="width:70px;" /></td>
      </tr>
    </tbody>
  </table>
</ng-template>
<ng-template #showmessage>

</ng-template>
<br>
<br>
<nav>
  <a routerLink ="/home" routerLinkActive="active" style="font-size:30px;">Home</a>
  <br>
  <a routerLink ="/products" routerLinkActive="active" style="font-size:30px;">Products</a>
  <br>
  <a  routerLink ="/users" routerLinkActive="active" style="font-size:30px;">Users</a>
  <br>
  <a  routerLink="/posts" routerLinkActive="active" style="font-size:30px;">Posts</a>
</nav>
<router-outlet></router-outlet>
<app-reactiveforms></app-reactiveforms>
<app-login></app-login>
<app-footer></app-footer>
