<h3>Store Name:{{ StoreName }}</h3>
<br />
<img src="{{ StoreLogo }}" />
<br />
<h4>"we can offer an explicit discount of":{{ Discount }}</h4>
<br />
<h3 *ngIf="Discount != 'No Discount'">Discount !! : {{ Discount }}</h3>
<br />
<input type="text" [(ngModel)]="ClientName" />
{{ ClientName }}

<br />

<select
  class="form-control form-select-lg m-5"
  aria-label=".form-select-lg example"
>
  <option selected *ngFor="let cat of CategolyList" [value]="cat">
    {{ cat.Name }}
  </option>
</select>


 <div class="container">
  <table class="table" *ngIf="Tablestatus ">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let group of ProductList" >
        <td>{{ group.Id }}</td>
        <td>{{ group.Name }}</td>
        <td>{{ group.Price }}</td>
        <td>{{ group.Quantity }}</td>
        <td><img [src]="group.imageUrl" style="width:70px;" /></td>
      </tr>
    </tbody>
  </table>
</div>

<td><button class="btn-primary" (click)="HideandShowName()">Buy</button></td>
<div style="font-family: sans-serif ; " *ngIf="Username">thank you for parchasing {{ClientName}} </div>

<br>
<br>
<!-- {{  StoreName | uppercase }} -->
